<app-header></app-header>

<!-- start features Area -->

<!-- Start exclusive deal Area -->
<section class="exclusive-deal-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">

        <div class="div-icon">
          <mat-icon class="person">person</mat-icon>
        </div>
        <h1 class="thai">นาง อบอุ่น น่าสนใจ</h1>
        <p class="thai">ต้องการไปโรงพยาบาลเมือง <mat-icon class="room">room</mat-icon>
        </p>
        <div class="row clock-wrap">
          <div class="col clockinner1 clockinner">
            <h1 class="days">8</h1>
            <span class="smalltext thai">ก.ค.62</span>
          </div>
          <div class="col clockinner clockinner1">
            <h1 class="hours">8:00</h1>
            <span class="smalltext thai">เวลา</span>
          </div>
          <div class="col clockinner clockinner1">
            <h1 class="minutes">47</h1>
            <span class="smalltext">Mins</span>
          </div>
          <div class="col clockinner clockinner1">
            <h1 class="seconds">59</h1>
            <span class="smalltext">Secs</span>
          </div>
        </div>

        <button mat-raised-button class="bt-join" [color]="'success'">JOIN NOW</button>

      </div>

      <div class="col-lg-6">
        <div class="div-icon">
          <mat-icon class="person">person</mat-icon>
        </div>
        <h1 class="thai">นาง อบอุ่น น่าสนใจ</h1>
        <p class="thai">ต้องการไปโรงพยาบาลเมือง <mat-icon class="room">room</mat-icon>
        </p>
        <div class="row clock-wrap">
          <div class="col clockinner1 clockinner">
            <h1 class="days">8</h1>
            <span class="smalltext thai">ก.ค.62</span>
          </div>
          <div class="col clockinner clockinner1">
            <h1 class="hours">8:00</h1>
            <span class="smalltext thai">เวลา</span>
          </div>
          <div class="col clockinner clockinner1">
            <h1 class="minutes">47</h1>
            <span class="smalltext">Mins</span>
          </div>
          <div class="col clockinner clockinner1">
            <h1 class="seconds">59</h1>
            <span class="smalltext">Secs</span>
          </div>
        </div>

        <button mat-raised-button class="bt-join" [color]="'success'">JOIN NOW</button>

      </div>


    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="div-icon">
          <mat-icon class="person">person</mat-icon>
        </div>
        <h1 class="thai">นาง อบอุ่น น่าสนใจ</h1>
        <p class="thai">ต้องการไปโรงพยาบาลเมือง <mat-icon class="room">room</mat-icon>
        </p>
        <div class="row clock-wrap">
          <div class="col clockinner1 clockinner">
            <h1 class="days">8</h1>
            <span class="smalltext thai">ก.ค.62</span>
          </div>
          <div class="col clockinner clockinner1">
            <h1 class="hours">8:00</h1>
            <span class="smalltext thai">เวลา</span>
          </div>
          <div class="col clockinner clockinner1">
            <h1 class="minutes">47</h1>
            <span class="smalltext">Mins</span>
          </div>
          <div class="col clockinner clockinner1">
            <h1 class="seconds">59</h1>
            <span class="smalltext">Secs</span>
          </div>
        </div>

        <button mat-raised-button class="bt-join" [color]="'success'">JOIN NOW</button>

      </div>

      <div class="col-lg-6">
        <div class="div-icon">
          <mat-icon class="person">person</mat-icon>
        </div>
        <h1 class="thai">นาง อบอุ่น น่าสนใจ</h1>
        <p class="thai">ต้องการไปโรงพยาบาลเมือง <mat-icon class="room">room</mat-icon>
        </p>
        <div class="row clock-wrap">
          <div class="col clockinner1 clockinner">
            <h1 class="days">8</h1>
            <span class="smalltext thai">ก.ค.62</span>
          </div>
          <div class="col clockinner clockinner1">
            <h1 class="hours">8:00</h1>
            <span class="smalltext thai">เวลา</span>
          </div>
          <div class="col clockinner clockinner1">
            <h1 class="minutes">47</h1>
            <span class="smalltext">Mins</span>
          </div>
          <div class="col clockinner clockinner1">
            <h1 class="seconds">59</h1>
            <span class="smalltext">Secs</span>
          </div>
        </div>

        <button mat-raised-button class="bt-join" [color]="'success'">JOIN NOW</button>

      </div>


    </div>
  </div>
</section>
<!-- End exclusive deal Area -->


<!-- end features Area -->

<app-footer></app-footer>