<!-- start banner Area -->
<section class="banner-area">
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-start">
      <div class="col-lg-12">
        <!-- <div class="active-banner-slider owl-carousel"> -->

        <div class="row single-slide align-items-center d-flex">
          <div class="col-lg-5 col-md-6">
            <div class="banner-content">
              <h1 class="thai">อาสา<br>จะพาไปส่ง</h1>
              <p class="thai">อยู่บ้านคนเดียวแต่ไม่ใคนพาเราไปส่งเลย จะมีใครอาสาพาเราไปส่งไหมน้า...</p>
              <div class="add-bag d-flex align-items-center">
                <button mat-mini-fab text="center" [color]="'success'" class="md-button" (click)="onDialog()">
                  <mat-icon>add</mat-icon>
                </button>
                <span class="add-text text-uppercase">
                  <p class="text-thai">เรียกรถอาสา</p>
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-7">

            <mat-card class="card-img">
              <img src="../../../../assets/img/volunteer/66679693_2511331042231861_4705749723514929152_n.jpg" alt="">
            </mat-card>
            <!-- <img class="img-fluid" src="../../../../assets/img/banner/banner-img.png" alt=""> -->

          </div>
        </div>

        <!-- </div> -->
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->