<app-header></app-header>

<!-- start features Area -->

<!-- Start exclusive deal Area -->
<section class="exclusive-deal-area">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">

                <h1 class="thai" align="center">ร่วมบริจาก</h1>
                <br><br>
                <div class="row bg">
                    <div class="d-flex flex-row">
                        <div _ngcontent-cua-c5="" class="d-flex flex-row">
                            <label style=" width: 40%; ">ยอดบริจาก</label>
                            <input _ngcontent-cua-c5="" class="form-control" name="EMAIL" onblur="this.placeholder = ''"
                                onfocus="this.placeholder = ''" placeholder=" " required="" type="email">
                            &nbsp;&nbsp;&nbsp;<label>บาท</label>

                        </div>


                    </div>

                </div>
                <br>
                <br>
                <div class="row bg">
                    <button style="background-color: #28a745;" mat-raised-button class="bt-join"
                        [color]="'success'">ร่วมบริจาก</button>
                </div>
            </div>
            <div class="col-lg-6">

                <h1 class="thai" align="center">รับคูปอง</h1>
                <br><br>
                <div class="row bg">
                    <div class="d-flex flex-row">
                        <div _ngcontent-cua-c5="" class="d-flex flex-row">
                            <label style=" width: 40%; ">รหัสคูปอง</label>
                            <input _ngcontent-cua-c5="" class="form-control" name="EMAIL" onblur="this.placeholder = ''"
                                onfocus="this.placeholder = ''" placeholder=" " required="" type="email">
                            &nbsp;&nbsp;&nbsp;<label></label>

                        </div>


                    </div>

                </div>
                <br>
                <br>
                <div class="row bg">
                    <button style="background-color:#007bff " mat-raised-button class="bt-join"
                        [color]="'success'">รับคูปอง</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</section>


<!-- End exclusive deal Area -->


<!-- end features Area -->

<app-footer></app-footer>