<app-header></app-header>

<!-- start features Area -->
<!-- Start exclusive deal Area -->
<section class="exclusive-deal-area">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 no-padding exclusive-right">
                <div class="active-exclusive-product-slider">
                    <!-- single exclusive carousel -->
                    <div class="single-exclusive-slider">
                        <img class="img-fluid" src="../../../../assets/img/volunteer/black-cab.svg" alt="">
                        <div class="product-details">
                            <div class="price">
                                <!-- <h6>฿free</h6>
                                        <h6 class="l-through">฿free</h6> -->
                            </div>
                            <h4 class="thai">นาย นครนน วันใหม่</h4>
                            <h6>ประวัติจิตอาสามูลนิธิร่วมกตัญญู</h6>
                            <p class="thai"></p>
                            <div class="add-bag d-flex align-items-center justify-content-center">
                                <a class="add-btn" href=""><span class="ti-bag"></span></a>
                                <mat-icon class="icon-star">star</mat-icon>
                                <mat-icon class="icon-star">star</mat-icon>
                                <mat-icon class="icon-star">star</mat-icon>
                                <mat-icon class="icon-star">star</mat-icon>
                                <mat-icon class="icon-star">star_half</mat-icon>
                            </div>
                        </div>
                    </div>
                    <!-- single exclusive carousel -->
                    <div class="single-exclusive-slider">
                        <img class="img-fluid" src="../../../../assets/img/volunteer/black-cab.svg" alt="">
                        <div class="product-details">
                            <div class="price">
                                <!-- <h6>$free</h6>
                                        <h6 class="l-through">$free</h6> -->
                            </div>
                            <h4 class="thai">นาย นวนคร วันเก่า</h4>
                            <h6>ประวัติจิตอาสามูลนิธิรปอเต็กตึ้ง</h6>
                            <p class="thai"></p>
                            <div class="add-bag d-flex align-items-center justify-content-center">
                                <a class="add-btn" href=""><span class="ti-bag"></span></a>
                                <mat-icon class="icon-star">star</mat-icon>
                                <mat-icon class="icon-star">star</mat-icon>
                                <mat-icon class="icon-star">star</mat-icon>
                                <mat-icon class="icon-star">star</mat-icon>
                                <mat-icon class="icon-star">star_border</mat-icon>
                            </div>
                        </div>
                    </div>

                    <div class="single-exclusive-slider">
                        <img class="img-fluid" src="../../../../assets/img/volunteer/black-cab.svg" alt="">
                        <div class="product-details">
                            <div class="price">
                                <!-- <h6>$free</h6>
                                            <h6 class="l-through">$free</h6> -->
                            </div>
                            <h4 class="thai">นางสาว ดอกไม้ หอมหวน</h4>
                            <h6>ประวัติจิตอาสาประจำอำเภอเมือง</h6>
                            <p class="thai"></p>
                            <div class="add-bag d-flex align-items-center justify-content-center">
                                <a class="add-btn" href=""><span class="ti-bag"></span></a>
                                <mat-icon class="icon-star">star</mat-icon>
                                <mat-icon class="icon-star">star</mat-icon>
                                <mat-icon class="icon-star">star</mat-icon>
                                <mat-icon class="icon-star">star</mat-icon>
                                <mat-icon class="icon-star">star_border</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End exclusive deal Area -->

<!-- end features Area -->

<app-footer></app-footer>